body {
    background-color: green;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-container > button {
    display: flex;
    justify-content: center;
}

.search-container {
    border: 2px solid black;
}