body {
    // background-color: #1e293b;
    background-image: url('https://www.amnh.org/var/ezflow_site/storage/images/media/amnh/images/explore/ology-images/earth/plates-on-the-move/still-slip/4753698-1-eng-US/still-slip.jpg');
    // background-image: linear-gradient(to bottom, rgb(189, 83, 227), rgb(113, 118, 216), rgb(24, 131, 122));
    background-attachment: fixed;
}

.nav-container {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    margin: 5%;
    padding: 0px;
}

.MuiBottomNavigation-root {
    opacity: 1;
}

.search-container {
    border: 2px solid black;
}

.test {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid;
    border-color: rgb(114, 187, 4);
}

// .list-box {
//     background-color: rgba(255, 255, 255, 0)
// }

.MuiListItem-root {
    color: rgb(0, 0, 0, 1);
}

.eq-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    opacity: 1;
}

.MuiListItem-root:has(.mag1) {
    background-color: rgba(50, 189, 0, 0.7);
}

.MuiListItem-root:has(.mag2) {
    background-color: rgba(107, 189, 0, 0.7);
}

.MuiListItem-root:has(.mag3) {
    background-color: rgba(180, 189, 0, 0.7);
}

.MuiListItem-root:has(.mag4) {
    background-color: rgba(237, 213, 0, 0.7);
}

.MuiListItem-root:has(.mag5) {
    background-color: rgba(226, 102, 1, 0.7)
}

.MuiListItem-root:has(.mag6) {
    background-color: rgba(189, 13, 0, 0.7)
}

.MuiListItem-root:has(.mag7) {
    background-color: rgba(189, 0, 0, 0.7);
}

.MuiListItem-root:has(.mag8) {
    background-color: rgba(231, 1, 1, 0.7);
}

.MuiListItem-root:has(.mag9) {
    background-color: rgb(255, 9, 9);
}

.MuiListItem-root:has(.mag10) {
    background-color: rgb(255, 1, 1);
}

#global-nav.Mui-selected {
    color: blue;
}

#warning-nav.Mui-selected {
    color: red;
}

#search-nav.Mui-selected {
    color: green;
}

#navbar {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    background-color: rgba(153, 153, 153, 0.75);
    border-radius: 50px;
}

.list-container {
    display: flex;
    flex-direction: column;
    // border: solid;
    // border-width: 2px;
    align-items: center;
}

#global-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#refresh-button {
    margin-bottom: 10px;
}

#MuiButtonBase-root {
    border: solid;
    border-radius: 2px;
}
